@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<h1>Read</h1>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="content">

        <img class="location-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title'>
        <h5 class="title" id="productTitle">@Model.Product.Title</h5> 
        <p class="location-text">@Model.Product.Description</p>
    </div>
</div>

