@page
@model AboutModel
@{
    ViewData["Title"] = "About Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<div class="color-rectangle fatter-rectangle d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 left-text-small text-justify pb-1 order-2 order-md-1">
                    <p class="text-center">[ Helping you to enjoy a peaceful break ☕️😌 ]</p>
                    <p>
                        We’re a group of Seattle University Master's students passionate about enhancing 
                        your leisure time. We're crafting a guide to the most serene spots in Seattle 🗼 perfect 
                        for enjoying a peaceful break outdoors.
                    </p>

                    <p>
                        Our journey began with a simple need: the inability to find a comfortable place
                        to enjoy a sandwich in a Seattle park. This quest led us to create a platform
                        dedicated to unveiling the city's hidden gems, where comfort meets scenic
                        beauty. Our website is your gateway to discovering the most inviting benches,
                        tables, restrooms, and other locations where you can simply <em>take a break</em>.
                    </p>
                </div>

                <div class="col-12 col-md-6 right-text right-text-large pb-3 order-1 order-md-2">
                    <p>Our</p>Story
                </div>
            </div>
        </div>
    </div>
<div class = "container pb-3 pt-2 text-center">
    <h3>Team iWOMP</h3>
    <ul id="hexGrid">
        <li class="hex">
            <div class="hexIn">
                <img src="/SiteImages/AboutImages/Ritu.jpg" alt="" />
                <h1>Ritu Priya</h1>
                <p>MSCS Student</p>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <img src="/SiteImages/AboutImages/Vandana.jpg" alt="" />
                <h1>Vandana</h1>
                <p>MSCS Student</p>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <img src="/SiteImages/AboutImages/Dhruv.jpg" alt="" />
                <h1>Dhruv</h1>
                <p>MSCS Student</p>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <img src="/SiteImages/AboutImages/Myasha.jpg" alt="" />
                <h1>Myasha</h1>
                <p>MSCS Student</p>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <img src="/SiteImages/AboutImages/Akarsh.jpg" alt="" />
                <h1>Akarsh</h1>
                <p>MSCS Student</p>
            </div>
        </li>
    </ul>
</div>
</body>