@page
@model AboutModel
@{
    ViewData["Title"] = "About Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="about-section">
    <h3 class="header-contactus">
        Take a Break! [ Helping you to enjoy a peaceful break ☕️😌 ]
    </h3>
    <p class="header-about">

        We’re creating a guide to the most serene spots in Seattle 🗼 for you to enjoy a peaceful break outdoors.
        Our user-friendly platform will lead you to the city's best benches and tables with scenic views, ideal for
        a lunch with friends or a solo retreat. We detail each location's accessibility, historical and artistic context, and amenities
        like nearby tables. With our website, you can filter spots to fit your preferences and rate your experiences.
        For now, you can explore and enjoy our handpicked selections without the option to add new ones.
    </p>

</div>

<div class="team-info">
    <h3>Team iWOMP</h3>
    <ul id="hexGrid">
        <li class="hex">
            <a class="hexIn" href="#">
                <img src="/SiteImages/AboutImages/Ritu.jpg" alt="" />
                <h1>Ritu Priya</h1>
                <p>MSCS Student</p>
            </a>
        </li>
        <li class="hex">
            <a class="hexIn" href="#">
                <img src="/SiteImages/AboutImages/Vandana.jpg" alt="" />
                <h1>Vandana</h1>
                <p>MSCS Student</p>
            </a>
        </li>
        <li class="hex">
            <a class="hexIn" href="#">
                <img src="/SiteImages/AboutImages/Dhruv.jpg" alt="" />
                <h1>Dhruv</h1>
                <p>MSCS Student</p>
            </a>
        </li>
        <li class="hex">
            <a class="hexIn" href="#">
                <img src="/SiteImages/AboutImages/Myasha.jpg" alt="" />
                <h1>Myasha</h1>
                <p>MSCS Student</p>
            </a>
        </li>
        <li class="hex">
            <a class="hexIn" href="#">
                <img src="/SiteImages/AboutImages/Akarsh.jpg" alt="" />
                <h1>Akarsh</h1>
                <p>MSCS Student</p>
            </a>
        </li>
    </ul>
</div>