@page
@model ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>@ViewData["Title"]</h1>

<br />
<br />

<div class="contact-section">
    <h3 class="header-contactus">
        Take a Break!<br />
        Helping your 🍑 find a seat since 2023
    </h3>

    <address>
        901 12th Avenue, P.O. Box 222000<br />
        Seattle, WA 98122-1090<br />
        <strong>Phone:</strong> +1.206.296.6000<br />
        <strong>Toll-free:</strong> 1.800.426.7123<br />
    </address>

    <h6>For general inquiries, contact us via email at <a href="mailto:13.take.a.break@gmail.com">13.take.a.break@gmail.com</a>.</h6>
</div>