@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="padding-homepage-route">
    <br />
    <a asp-page="./Product/Index">Go Back to Index Page</a>
    <br />
    <br />
    <p>
        The page you have requested does not exist.
        <br />
        If the issue persist, contact us via mail.
    </p>

</div>