@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="padding-homepage-route">
    <a asp-page="./Product/Index">Go Back to Index Page</a>
    <p>
        The place you have requested does not exist.
    </p>
</div>