@page
@using ContosoCrafts.WebSite.Components
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso Crafts</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Oi:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Capriola&family=Grand+Hotel&family=Oi&family=Pacifico&family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <div class="homepage-container">

        <div class="color-rectangle"></div> <!-- This is the background rectangle -->
        <!-- These texts will overlay the rectangle -->
        <div class="left-indextext">
            Tired of
            <br />                   the daily grind?
        </div>
        <div class="right-indextext">
            <strong>Let's Take A break</strong>from your worries and mellow out!!
            <br />
            Get ready to explore the nearest <em>benches</em>, <em>restrooms</em>, <em>tables</em>,
            <br />       and other nice spots present in and around Seattle.
            <br />
            <br />       We've covered the most serene and creative <em>places</em> along with
            <br />       their fun facts, so come branch
            out and find your new favorite
            <br />       spot to unwind.
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            <p class="homepageformat">
            </p>
            <div class="homepageformat py-3">
                <a href="/Explore?LocationType=All" class="btn btn-homecard">Ready to Explore?</a>
            </div>
        </main>

        <!-- Cards Section -->
        <div class="row">
            <!-- Each Card -->
            <div class="col-xl-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card homecard card-img-bench">
                    <div class="homecard-content">
                        <h2 class="homecard-title">Benches</h2>
                        <a href="/Explore?LocationType=Bench" class="btn btn-homecard">Explore Benches</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card homecard card-img-restroom">
                    <div class="homecard-content">
                        <h2 class="homecard-title">Restrooms</h2>
                        <a href="/Explore?LocationType=Restroom" class="btn btn-homecard">Explore Restrooms</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card homecard card-img-tables">
                    <div class="homecard-content">
                        <h2 class="homecard-title">Tables</h2>
                        <a href="/Explore?LocationType=Table" class="btn btn-homecard">Explore Tables</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card homecard card-img-others">
                    <div class="homecard-content">
                        <h2 class="homecard-title">Other</h2>
                        <a href="/Explore?LocationType=Other" class="btn btn-homecard">Explore Other Places</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
</body>

</html>
