@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
<main role="main" class="pb-3">
            

<h1 style="text-align:center; color:firebrick; font-weight:700">Tired of the daily Grind?</h1>
<p class="homepageformat" style="text-align:center;">
            <strong>Let's take a Break</strong> from your worries and mellow out !! <br>
            Get ready to explore the nearest <em>benches</em> and <em>restrooms</em> present in and around Seattle. <br />
            We've covered the most serene and creative <em>benches</em> along with their fun facts, so come branch out and find your new favorite spot to unwind.
<br>
<br></p>

<div class="homepageformat" style="text-align:center;"><form method="get" action="/Explore"><button type="submit" class="btn btn-primary" fdprocessedid="ewfwhm">Ready to Explore?</button></form></div>


</main>
</div>
<script src="_framework/blazor.server.js"></script>