@page
@using TakeABreak.WebSite.Components
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Take A Break</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-o.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Oi:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Capriola&family=Grand+Hotel&family=Oi&family=Pacifico&family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Lato&family=Merriweather:wght@300;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-straight/css/uicons-bold-straight.css'>

    <body>
        <div class="color-rectangle d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <!-- This ensures vertical alignment -->
                    <div class="col-md-6 left-text">
                        Tired of
                        <p>the daily grind?</p>
                    </div>
                    <div class="col-md-6 right-text text-justify-all">
                        <p><strong>Let's Take A Break</strong> from your worries and mellow out!!</p>
                        <p>Get ready to explore the nearest <em>benches</em>, <em>restrooms</em>, <em>tables</em>, and other nice spots present in and around Seattle.</p>
                        <p>We've covered the most serene and creative <em>places</em> along with their fun facts, so come branch out and find your new favorite spot to unwind.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid homepageformat py-3 d-flex flex-wrap justify-content-center">
            <div class="d-flex flex-column flex-md-row justify-content-center button-container">
                <a href="/Explore" class="btn btn-third d-flex align-items-center text-decoration-none">
                    <i class="fi fi-bs-map-marker" style="font-size: 1.8rem; color: #bacec1; margin-right: .7rem;"></i>
                    <div class="d-flex flex-column">
                        <span class="button-line">Ready to Explore?</span>
                        <span class="button-line">
                            Discover Places<i class="gg-arrow-right-o" style="font-size: 1rem; margin-left: 0.7rem;"></i>
                        </span>
                    </div>
                </a>
                <span class="divider"></span>
                <a href="/Spotlight" class="btn btn-third d-flex align-items-center text-decoration-none">
                    <i class="fi fi-bs-calendar-heart" style="font-size: 1.8rem; color: #bacec1; margin-right: .7rem;"></i>
                    <div class="d-flex flex-column">
                        <span class="button-line">Spotlight of the Month</span>
                        <span class="button-line">
                            See Highlights<i class="gg-arrow-right-o" style="font-size: 1rem; margin-left: 0.7rem;"></i>
                        </span>
                    </div>
                </a>
                <span class="divider"></span>
                <a asp-page="/Explore" asp-route-filter="Surprise" class="btn btn-third d-flex align-items-center text-decoration-none">
                    <i class="fi fi-bs-search-heart" style="font-size: 1.8rem; color: #bacec1; margin-right: .5rem;"></i>
                    <div class="d-flex flex-column">
                        <span class="button-line">Surprise me</span>
                        <span class="button-line">
                            Find the Unexpected<i class="gg-arrow-right-o" style="font-size: 1rem; margin-left: 0.5rem;"></i>
                        </span>
                    </div>
                </a>
                <span class="divider"></span>
                <a href="/TakeAWalk" class="btn btn-third d-flex align-items-center text-decoration-none">
                    <i class="fi fi-bs-route" style="font-size: 1.8rem; color: #bacec1; margin-right: .5rem;"></i>
                    <div class="d-flex flex-column">
                        <span class="button-line">Walk This Way</span>
                        <span class="button-line">
                            Find a Route<i class="gg-arrow-right-o" style="font-size: 1.5rem; margin-left: 0.5rem;"></i>
                        </span>
                    </div>
                </a>
            </div>
        </div>


        <!-- Cards Section -->
        <div class="row">
            <!-- Each Card -->
            <div class="col-xl-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card card-custom card-img-bench">
                    <div class="card-custom-content">
                        <h2 class="card-custom-title">Benches</h2>
                        <a asp-page="/Explore" asp-route-filter="Bench" class="btn btn-custom">Explore Benches</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card card-custom card-img-restroom">
                    <div class="card-custom-content">
                        <h2 class="card-custom-title">Restrooms</h2>
                        <a asp-page="/Explore" asp-route-filter="Restroom" class="btn btn-custom">Explore Restrooms</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card card-custom card-img-tables">
                    <div class="card-custom-content">
                        <h2 class="card-custom-title">Tables</h2>
                        <a asp-page="/Explore" asp-route-filter="Table" class="btn btn-custom">Explore Tables</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card card-custom card-img-others">
                    <div class="card-custom-content">
                        <h2 class="card-custom-title">Other</h2>
                        <a asp-page="/Explore" asp-route-filter="Other" class="btn btn-custom">Explore Other Places</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="_framework/blazor.server.js"></script>
    </body>
</head>
</html>