@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso Crafts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1 style="text-align:center; color:firebrick; font-weight:700">Tired of the daily Grind?</h1>
            <p class="homepageformat" style="text-align:center;">            
                <strong>Let's take a Break</strong> from your worries and mellow out !! <br>
                Get ready to explore the nearest <em>benches</em> and <em>restrooms</em> present in and around Seattle. <br />
                We've covered the most serene and creative <em>benches</em> along with their fun facts, so come branch out and find your new favorite spot to unwind.<br /><br />
            </p>
            <div class="homepageformat" style="text-align:center;"><form method="get" action="/Explore"><button type="submit" class="btn btn-primary" fdprocessedid="ewfwhm">Ready to Explore?</button></form></div>
            <br /><br />
            <div class="card-columns">
                <div class="homecard">
                    <div class="card-img" style="background-image: url('/Bench.png')"></div>
                    <a asp-page="/Explore">
                        <br><br>
                        <button class="btn-primary">Explore Benches</button><br />
                    </a>
                </div>
                <div class="homecard">
                    <div class="card-img" style="background-image: url('/Restrooms.png')"></div>
                    <a asp-page="/Explore">
                        <br><br>
                        <button class="btn-primary">Explore Restrooms</button>
                    </a>
                </div>
                <div class="homecard">
                    <div class="card-img" style="background-image: url('/Table.png')"></div>
                    <a asp-page="/Explore">
                        <br><br>
                        <button class="btn-primary">Explore Tables</button>
                    </a>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="_framework/blazor.server.js"></script>
