@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container pb-3 pt-3">
<h1>@ViewData["Title"]</h1>

<p>
    We respect your privacy and are committed to protecting your
    personal information. This privacy policy explains how we
    collect, use, and safeguard the data you provide when you visit
    our website. By accessing or using our website, you consent to
    the practices described in this policy.
</p>

<p>
    We may collect limited personal information, such as your IP
    address and browsing patterns, to improve our website's
    functionality and user experience. We do not sell or disclose
    your personal information to third parties unless required by law.
    We may update this privacy policy from time to time, so please
    review it periodically for any changes.
</p>

</div>