@page
@model TakeAWalkModel

@{
    ViewData["Title"] = "Take A Walk";
}

<!-- MapLibre GL CSS and JS -->
<link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
<script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>

<!-- Map container -->
<div id="map"></div> 

<!-- Serialize the GeoJSON data and Product Data to a JavaScript variable -->
<script>
    var geojsonData = @Html.Raw(Model.GeoJsonData);
    var productsData = @Html.Raw(Json.Serialize(Model.Products));
</script>

<!-- Custom map JavaScript file -->
<script src="~/js/mapStuff.js"></script>

