@page
@model TakeAWalkModel

@{
    ViewData["Title"] = "Take A Walk";
}

<!-- MapLibre GL CSS and JS -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-straight/css/uicons-bold-straight.css'>
<link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
<script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <!-- Green Rectangle with Stretchable Content -->
            <div class="color-rectangle text-left d-md-block recopy-text" style="height: 30vw;">
                <div style="padding: 10px;">
                    <p class="mb-3">How to Use:</p>
                    <p class="mb-3">1. Select two icons to find a route.</p>
                    <p class="mb-3">2. Click the map to clear the route.</p>
                    <p>3. Select from the drop-down button to filter by location type.</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="map-libre-container" style="position: relative;">
                <div id="map" style="z-index: 0;"></div>
                <!-- Dropdown on the Map, Justified to the Left -->
                <div class="dropdown" style="position: absolute; top: 20px; left: 20px; background-color: white; opacity: 0.9;">
                    <button class="btn btn-third dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fi fi-bs-map-marker-home" style="font-size: 20px; margin-right: 6px;"></i>
                        <span id="selectedLocationType">Location Type</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" type="button" onclick='updateLocationType(null)'>All</button>
                        <button class="dropdown-item" type="button" onclick='updateLocationType("Bench")'><i class="fas fa-chair mr-2"></i> Bench</button>
                        <button class="dropdown-item" type="button" onclick='updateLocationType("Restroom")'><i class="fas fa-restroom mr-2"></i> Restroom</button>
                        <button class="dropdown-item" type="button" onclick='updateLocationType("Table")'><i class="fi fi-bs-table-picnic mr-2"></i> Table</button>
                        <button class="dropdown-item" type="button" onclick='updateLocationType("Other")'><i class="fas fa-ellipsis-h mr-2"></i> Other</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- Serialize the GeoJSON data and Product Data to a JavaScript variable -->
<script>
    var geojsonData = @Html.Raw(Model.GeoJsonData);
    var productsData = @Html.Raw(Json.Serialize(Model.Products));
</script>

<!-- Custom map JavaScript file -->
<script src="~/js/mapStuff.js"></script>

