.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* bar for the homepage */
.homepage-container{
    position: relative; /* This sets the reference point for absolute positioning of child elements */
    width: 100%; /* or any desired width */
    height: auto; /* or any desired height */
}


.color-rectangle {
    width: 217%;
    height: 18vw;
    margin-left: -100%;
    margin-top: -1rem;
    background-color: #29392e;
    position: relative;
}

.index-textcontainer {
    display: flex;
    justify-content: space-between; /* This will space out the two divs to the far ends of the container */
    align-items: center; /* This will vertically center the texts if they are of different sizes */
    margin-bottom: 2vw; 
}


.left-indextext {
    font-family: 'Lato', sans-serif;
    font-size: 5vw;
    color: #cebac7;
    margin-top: 1.1vw;
    top: 1vw;
    left: 0;
    text-align: left;
    transform: none;
    position: absolute;
    z-index: 2;
    right: auto;
    line-height: 1.2;
}

.right-indextext {
    font-family: 'Lato', sans-serif;
    font-size: 1.3vw;
    color: #cec1ba;
    margin-top: 2.6vw;
    top: 0;
    left: 60%; /* Moving the text box to the right side, starting from the center. Adjust as needed. */
    position: absolute;
    z-index: 2;
    text-align: justify-all; /* Making the text justified */
    width: 50%; /* Setting a width for the text box so the text can be justified within. Adjust as needed. */
    transform: none;
}

.left-text, .right-indextext {
    flex: 1; 
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px; /* Adjust the height as needed */
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Pacifico', cursive;
    text-align: center;
    word-break: break-all;
    font-size: 4.5vw;
    margin-bottom: -6vw;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

/* CSS for the button */
.btn-primary {
    background-color: #bacec1;
    color: #000000e6;
    border-color: #bacec1;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    color: #fff;
    background-color: #bacec1;
    border-color: #bacec1;
}

.btn-danger:hover {
    color: #fff;
    background-color: crimson;
    border-color: #bacec1;
}


.btn-homecard {
    cursor: pointer;
    margin-top: 5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: #ceb9c6;
    border: none;
}

.btn-homecard:hover {
    background-color: #ceb9c6;
}
.btn-homecard:focus {
    outline: 1px dashed #cecbb9;
    outline-offset: 3px;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #f3f3f3 70%, #bacec1 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #bacec1 60%, #f3f3f3 60%);
}

.homeimage {
    float: right;
    max-width: 10vw;
    max-height: 10vw;
}

.nav-item {
    padding-top: 2.5vw; 
    font-size: 1.5vw;
    margin-bottom: -7vw;
}



/*CSS form body h1*/
h1.h1-heading {
    text-align: center;
    color: firebrick;
    font-weight: 700;
}

.homepageformat {
    text-align: center;
}

.homecard:hover,
.homecard:focus-within {
    align-items: center;
}



.homecard-title {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold; 
    font-family: 'Pacifico', cursive;
    height: 50px; /* Adjust this value to fit your design needs */
    bottom: 10px;
    text-shadow: 2px 2px 2px #395041;
}


/* CSS for the homecard */
.homecard {
    margin: 0.3rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 2rem;
    width: 20vw;
    height: 25vw;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1),
    0 2px 2px rgba(0,0,0,0.1),
    0 4px 4px rgba(0,0,0,0.1),
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
    background-size: cover;
    background-position: center;
    border: .1rem solid #cbbace;
    border-radius: .25rem;

}

.homecard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
    background-image: linear-gradient(to bottom,
    rgba(16,23,18, 0) 0%,
    rgba(16,23,18, 0.01) 30%,
    rgba(16,23,18, 0.02) 50%,
    rgba(16,23,18, 0.05) 60%,
    rgba(16,23,18, 0.1) 70%,
    rgba(16,23,18, 0.2) 80%,
    rgba(16,23,18, 0.6) 90%,
    rgba(16,23,18, 1) 100%);
}
.homecard:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom,
    rgba(16,23,18, 0.6) 0%,
    rgba(16,23,18, 0.4) 10%,
    rgba(16,23,18, 0.2) 30%,
    rgba(16,23,18, 0.1) 50%,
    rgba(16,23,18, 0.05) 60%,
    rgba(16,23,18, 0.1) 70%,
    rgba(16,23,18, 0.2) 80%,
    rgba(16,23,18, 0.6) 90%,
    rgba(16,23,18, 1) 100%);

    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.homecard:hover:before,
.homecard:focus-within:before {
    transform: translateY(-4%);
}
.homecard:hover:after,
.homecard:focus-within:after {
    transform: translateY(-50%);
}
.homecard:hover .content,
.homecard:focus-within .content {
    transform: translateY(0);
}
.homecard:hover .content > *:not(.title),
.homecard:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}

.homecard:focus-within:before, .homecard:focus-within:after,
.homecard:focus-within .content,
.homecard:focus-within .content > *:not(.title) {
    transition-duration: 0s;
}

@media (max-width: 599px) {
    .homecard {
        width: 80vw;
        height: 80vw;  /* Match width for 1:1 aspect ratio */
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .homecard {
        width: 50vw;
        height: 50vw;  /* Match width for 1:1 aspect ratio */
    }
}

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-serif: "Cardo", serif;
}


.homecard-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 110%;
    padding: 1rem;
    bottom: -80%; /* Initially, it's pushed outside the card. */
    left: 10%;
    transform: translateX(-10%); /* This centers the content. */
    transition: bottom 0.3s ease; /* Smooth transition */
    z-index: 1;
}

.homecard-content > * + * {
    margin-top: 6rem;
}

/* On hover, slide the content up */
.homecard:hover .homecard-content {
    bottom: 10px; /* Adjust according to how much you want to slide it up */
}


/* This ensures the hover effect is applied only to the card and not its children */
.homecard * {
    pointer-events: none;
}
.homecard {
    pointer-events: auto;
}

.homecard .btn-homecard {
    pointer-events: auto;
}

.card-img-bench {
    background-image:
            url('/bench1.jpeg');
}

.card-img-restroom {
    background-image: url('/Restroom1.jpg');
}

.card-img-others {
    background-image: url('/Others.jpg');
}

.card-img-tables {
    background-image: url('/Table2.jpeg');
}


.homecard:hover .text-overlay {
    transform: translateY(0); /* Slight zoom on hover */
}


.homecard .card-img-top {
    height: 40vw; /* This will set the height relative to the viewport width */
    object-fit: cover;  /* This will keep the image proportions while covering the space */
}

.homecard-body {
    opacity: 0;  /* Hide it initially */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.homecard:hover .card-body {
    opacity: 1;  /* Show it on hover */
}



/* Hover effect for the homecard */
.homecard:hover {
    background-color: rgba(37,33,82,.12); /* Change the background color on hover */
    transform: scale(1.05); /* Add a slight zoom effect */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
}

/* CSS for the small text */
.text-muted {
    font-size: 12px;
    color: #888;
}

/* CSS for read page*/

.option-bar {
    display: flex;
    flex-wrap: wrap;
    margin: auto 15px;
}

.location-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* This ensures the content is centered horizontally */
    max-width: 600px; /* Optional: This sets a maximum width for the container */
    margin: auto; /* Center the container on the page */
}

.location-img {
    width: 100%; /* Takes up the full width of the .location-content */
    height: auto;
    max-height: 400px; /* Adjust if needed */
    object-fit: contain;
}

.location-text {
    width: 100%; /* Takes up the full width of the .location-content, matching the image's width */
    text-align: left; /* Text starts at the left edge */
}

.vertical-bars {
    display: inline;
    margin: 0 5px; /* Adjust the margin as needed to control the spacing */
    border-left: 1px solid #000; /* Vertical bar styling */
    padding-left: 5px;
}

.acolor {
    color: #000;
}


.horizontal-line {
    position: absolute;
    border: none;
    border-top: 2px solid #000; /* Black color */
    width: 100px; /* Adjust the width of the line as needed */
}

.description {
    width: 684px;
    top: 0;
    left: 0;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 400;
    color: #1a1717;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    letter-spacing: 0.8px;
}

.text-wrapper {
    width: 684px;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 36px;
    font-family: "Helvetica-Bold", Helvetica;
    color: #1a1717;
    letter-spacing: 0;
    line-height: normal;

}

.space {
    margin: 7px;
}

.image-wrapper {
    max-width: 1200px;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 9/16 = 0.5625 or 56.25% */
    position: relative;
}

.read-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.read-icon {
    font-size: 24px;
    color: #0074d9; /* Blue color */
}

/*CSS for iframe component*/

iframe {
    border: 0;
    width: 100%;
    height: 300px;
}

.map-container {
    padding-top: 20px;
}


.read-googlemap {
    position: relative;
    height: 0;
    overflow: hidden;
}

.read-googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table {
    animation: fadeIn 1.5s;
}

th {
    background-color: #bacec1;
    color: #000;
    position: sticky;
    top: 0;
    text-align: center;
    font-weight: bold;
}

/* Set alternate background colors for odd and even rows */
tr {
    background-color: #f2f2f2; /* Light gray for odd rows */
}

/* Hover effect for rows */
tr:hover {
    background-color: #bacec1;
}

td {
    width: 25%;
}

/* Hover effect for columns */
td:hover::before {
    position: absolute;
    opacity: 0.8;
    background-color: #f3f3f3;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    transform: translateX(-50%);
    display: none;
}

td:hover::before {
    display: block;
}

h3.header-contactus {
    font: bold;
}

/* CSS for button pair on Read and Update Page */
.button-row {
    display: flex;
    margin: 20px 0;
}

/* CSS for Update page */
h1.update-page-title {
    margin: 10px;
}

/* CSS for Read page */
.read-page-title {
    font-size: 2.5em;
    font-weight: bold;
}


/* CSS for the Explore page map */
.map-toggler {
    cursor: pointer;
    margin-top: 10px;
}

.map-toggler i {
    transition: transform 0.3s; /* Adds a smooth transition to the rotation */
}

.map-toggler:hover i {
    transform: rotate(180deg); /* Makes the icon spin when hovered */
}

h3.header-about {
    font: bold;
}

/*Share button CSS styling*/
.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

    .resp-sharing-button--twitter:hover {
        background-color: #2795e9
    }

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

    .resp-sharing-button--pinterest:hover {
        background-color: #8c0615
    }

.resp-sharing-button--facebook {
    background-color: #3b5998
}

    .resp-sharing-button--facebook:hover {
        background-color: #2d4373
    }

.resp-sharing-button--tumblr {
    background-color: #35465C
}

    .resp-sharing-button--tumblr:hover {
        background-color: #222d3c
    }

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

    .resp-sharing-button--reddit:hover {
        background-color: #3a80c1
    }

.resp-sharing-button--google {
    background-color: #dd4b39
}

    .resp-sharing-button--google:hover {
        background-color: #c23321
    }

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

    .resp-sharing-button--linkedin:hover {
        background-color: #046293
    }

.resp-sharing-button--email {
    background-color: #777
}

    .resp-sharing-button--email:hover {
        background-color: #5e5e5e
    }

.resp-sharing-button--xing {
    background-color: #1a7576
}

    .resp-sharing-button--xing:hover {
        background-color: #114c4c
    }

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

    .resp-sharing-button--whatsapp:hover {
        background-color: #1da851
    }

.resp-sharing-button--hackernews {
    background-color: #FF6600
}

    .resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {
        background-color: #FB6200
    }

.resp-sharing-button--vk {
    background-color: #507299
}

    .resp-sharing-button--vk:hover {
        background-color: #43648c
    }

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

    .resp-sharing-button--facebook:hover,
    .resp-sharing-button--facebook:active {
        background-color: #2d4373;
        border-color: #2d4373;
    }

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

    .resp-sharing-button--twitter:hover,
    .resp-sharing-button--twitter:active {
        background-color: #2795e9;
        border-color: #2795e9;
    }

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

    .resp-sharing-button--email:hover,
    .resp-sharing-button--email:active {
        background-color: #5e5e5e;
        border-color: #5e5e5e;
    }

.resp-sharing-button--pinterest {
    background-color: #bd081c;
    border-color: #bd081c;
}

    .resp-sharing-button--pinterest:hover,
    .resp-sharing-button--pinterest:active {
        background-color: #8c0615;
        border-color: #8c0615;
    }

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}

    .resp-sharing-button--linkedin:hover,
    .resp-sharing-button--linkedin:active {
        background-color: #046293;
        border-color: #046293;
    }

.resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
}

    .resp-sharing-button--whatsapp:hover,
    .resp-sharing-button--whatsapp:active {
        background-color: #1DA851;
        border-color: #1DA851;
    }

.resp-sharing-button--telegram {
    background-color: #54A9EB;
}

    .resp-sharing-button--telegram:hover {
        background-color: #4B97D1;
    }
