:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-serif: "Cardo", serif;
    --font-size: clamp(1rem, 4.8vw, 1.3rem);
}

body {
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .static-img {
        height: 70px;
        width: 70px;
    }
}

.skinny-container {
    height: 5.5vw;
}

.custom-image {
    max-width: 50%;
    height: auto;
    border-color: #D7B1BE;
    box-shadow: 4px 8px 15px rgba(112, 71, 86, 0.25);
    
}

.custom-img-size {
    width: auto;
    max-width: 70%; 
    height: auto; 
}

@media (max-width: 759px) {
    .skinny-container {
        height: auto; /* Adjust the height for mobile */
        padding: 10px; /* Add some padding if needed */
        padding-left: 10vw; 
    }

    .img-logo {
        max-width: 25vw; 
        max-height: 25vw; 
    }
}

.skinny-col {
    width: 4%;    
}

.checked {
    color: orange;
}

.gray-rectangle {
    background-color: rgba(243, 247, 245, 0.7);
    padding: 1rem;
    padding-right: 15rem;
    display: inline-block; 
    color: black; 
    text-align: left;
    border: 1px solid #D7B1BE;
    box-shadow: 4px 8px 15px rgba(112, 71, 86, 0.25);
}

@media (max-width: 768px) {
    .gray-rectangle {
        padding-right: 1rem;
    }
}

.fa-star {
    cursor: pointer;
}

.custom-iframe-container {

    height: 70vh;
    width: 100%

}

/* To center links on mobile view */
@media (max-width: 768px) {
    .option-bar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.color-rectangle {
    width: 100%;
    height: 20vw;
    background-color: #29392e;
}

@media (max-width: 768px) {
    .color-rectangle {
        height: 75vw;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .color-rectangle {
        height: 25vw;
    }
}

@media (max-width: 280px) {
    .color-rectangle {
        height: 110vw;
    }
}

.left-text {
    font-family: 'Cardo', serif;
    font-size: clamp(2rem, 5vw, 5em);
    color: #cebac7;
    line-height: 1;
}

.color-rectangle .left-text p {
    font-family: 'Cardo', serif;
}

.right-text {
    font-family: 'Lato', sans-serif;
    font-size: clamp(0.8rem, 1.4vw, 1.1rem);
    color: #cec1ba;
    padding-left: 7vw; 
    padding-top: 1vw;
    line-height: 1.6;

}

@media (max-width: 768px) {
    
    .right-text {
        padding-left: 5vw;
    }
}

.right-text p {
    margin-bottom: 0.5rem; 
}


.thinner-rectangle {
    height: 7vw;
}

.fatter-rectangle {
    
    height: 35vw; 
}

@media (min-width: 768px) and (max-width: 991px) {
    .fatter-rectangle {
        height: 70vw;
    }
}
@media (max-width: 768px) {
    .fatter-rectangle {
        height: 150vw;
    }
}

@media (max-width: 280px) {
    .fatter-rectangle {
        height: 230vw;
    }
}


.slim-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vw; 
    margin-top: -2.6rem;
    background-color: #29392e;
    position: relative;
    overflow: hidden; 
}

.rectangle-text {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #cebac7;
    white-space: nowrap; 
    padding: 1vw; 
}


.left-text-small {
    font-size: clamp(1rem, 1.4vw, 2rem);
    color: #cec1ba;
    text-align: left;
    width: 60%;
}


.right-text-large {
    font-family: "Cardo", serif;
    color: #cebac7;
    font-size: clamp(4rem, 12vw, 10rem);
    line-height: 11vw;
    text-align: center;
    width: 40%;
    font-weight: 700;
    
}

.color-rectangle .right-text-large p {
    font-family: 'Cardo', serif;
}



/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Lato', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px; /* Adjust the height as needed */
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card {

    border: 1px solid #cec1ba ;
    box-shadow: 4px 8px 15px #d2cdcb;
}


.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.card-columns .card:hover {
    transform: scale(1.00);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Pacifico', cursive;
    text-align: center;
    word-break: break-all;
    font-size: clamp(2rem, 3.5vw, 3em);
    padding-top: 3.2vw;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

/* CSS for the button */
.btn-primary {
    background-color: #bacec1;
    color: #000000e6;
    border-color: #bacec1;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-third {
    background-color: rgba(206, 186, 199, 0);
    color: #000000e6;
    border-color: rgba(186, 206, 193, 0);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-third:hover {
    box-shadow: 0 5px 15px rgba(186, 189, 206, 0.55); 

}



.btn-danger {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    color: #fff;
    background-color: #bacec1;
    border-color: #bacec1;
}

.btn-danger:hover {
    color: #fff;
    background-color: crimson;
    border-color: #bacec1;
}

.btn-custom {
    cursor: pointer;
    margin-top: 5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: #ceb9c6;
    border: none;
}

.btn-custom:hover {
    background-color: #ceb9c6;
}
.btn-custom:focus {
    outline: 1px dashed #cecbb9;
    outline-offset: 3px;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
}

ul {
    font-family: 'Lato', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Lato', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #f3f3f3 70%, #bacec1 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #bacec1 60%, #f3f3f3 60%);
}

.img-logo {
    float: right;
    max-width: 8vw;
    max-height: 8vw;
}

.nav-item {
    padding-top: 4.8vw;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .nav-item {
        font-size: larger; /* Increase text size */
        padding: 10px; /* Increase padding */
    }
}

/*CSS form body h1*/
h1.h1-heading {
    text-align: center;
    color: firebrick;
    font-weight: 700;
}

.card-custom:hover,
.card-custom:focus-within {
    align-items: center;
}


.card-custom-title {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold; 
    font-family: 'Pacifico', cursive;
    height: 50px; /* Adjust this value to fit your design needs */
    bottom: 10px;
    text-shadow: 2px 2px 2px #395041;
}

/* CSS for the card-custom */
.card-custom {
    margin: 0.3rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 2rem;
    width: 20vw;
    height: 25vw;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1),
    0 2px 2px rgba(0,0,0,0.1),
    0 4px 4px rgba(0,0,0,0.1),
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
    background-size: cover;
    background-position: center;
    border: .1rem solid #cbbace;
    border-radius: .25rem;

}

.card-custom:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
    background-image: linear-gradient(to bottom,
    rgba(16,23,18, 0) 0%,
    rgba(16,23,18, 0.01) 30%,
    rgba(16,23,18, 0.02) 50%,
    rgba(16,23,18, 0.05) 60%,
    rgba(16,23,18, 0.1) 70%,
    rgba(16,23,18, 0.2) 80%,
    rgba(16,23,18, 0.6) 90%,
    rgba(16,23,18, 1) 100%);
}
.card-custom:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom,
    rgba(16,23,18, 0.6) 0%,
    rgba(16,23,18, 0.4) 10%,
    rgba(16,23,18, 0.2) 30%,
    rgba(16,23,18, 0.1) 50%,
    rgba(16,23,18, 0.05) 60%,
    rgba(16,23,18, 0.1) 70%,
    rgba(16,23,18, 0.2) 80%,
    rgba(16,23,18, 0.6) 90%,
    rgba(16,23,18, 1) 100%);

    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card-custom:hover:before,
.card-custom:focus-within:before {
    transform: translateY(-4%);
}
.card-custom:hover:after,
.card-custom:focus-within:after {
    transform: translateY(-50%);
}
.card-custom:hover .content,
.card-custom:focus-within .content {
    transform: translateY(0);
}
.card-custom:hover .content > *:not(.title),
.card-custom:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}

.card-custom:focus-within:before, .card-custom:focus-within:after,
.card-custom:focus-within .content,
.card-custom:focus-within .content > *:not(.title) {
    transition-duration: 0s;
}

@media (max-width: 599px) {
    .card-custom {
        width: 80vw;
        height: 80vw;  /* Match width for 1:1 aspect ratio */
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .card-custom {
        width: 50vw;
        height: 50vw;  
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .card-custom {
        width: 30vw;
        height: 35vw;
    }
    
}


.card-custom-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 110%;
    padding: 1rem;
    bottom: -80%; /* Initially, it's pushed outside the card. */
    left: 10%;
    transform: translateX(-10%); /* This centers the content. */
    transition: bottom 0.3s ease; /* Smooth transition */
    z-index: 1;
}

.card-custom-content > * + * {
    margin-top: 6rem;
}

/* On hover, slide the content up */
.card-custom:hover .card-custom-content {
    bottom: 10px; /* Adjust according to how much you want to slide it up */
}


/* This ensures the hover effect is applied only to the card and not its children */
.card-custom * {
    pointer-events: none;
}
.card-custom {
    pointer-events: auto;
}

.card-custom .btn-custom {
    pointer-events: auto;
}

.card-img-bench {
    background-image:
            url('/bench1.jpeg');
}

.card-img-restroom {
    background-image: url('/Restroom1.jpg');
}

.card-img-others {
    background-image: url('/Others.jpg');
}

.card-img-tables {
    background-image: url('/Table2.jpeg');
}


.card-custom:hover .text-overlay {
    transform: translateY(0); /* Slight zoom on hover */
}


.card-custom .card-img-top {
    height: 40vw; /* This will set the height relative to the viewport width */
    object-fit: cover;  /* This will keep the image proportions while covering the space */
}

.card-custom-body {
    opacity: 0;  /* Hide it initially */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.card-custom:hover .card-body {
    opacity: 1;  /* Show it on hover */
}


/* Hover effect for the card-custom */
.card-custom:hover {
    background-color: rgba(37,33,82,.12); /* Change the background color on hover */
    transform: scale(1.05); /* Add a slight zoom effect */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
}

@media (max-width: 576px) {
    .navbar-toggler {
        position: absolute;
        right: 0;
        margin-right: 50px; 
    }
}

.small-image {
    width: 90%;
    height: auto;
    border: 2px solid #cec1ba;
    box-shadow: 4px 8px 15px #d2cdcb;
}



/* CSS for the small text */
.text-muted {
    font-size: 12px;
    color: #888;
}

/* CSS for small nav bar */
.option-bar {
    display: flex;
    flex-wrap: wrap;
    margin: auto 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 1vw 0;
}

.location-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* This ensures the content is centered horizontally */
    max-width: 600px; /* Optional: This sets a maximum width for the container */
    margin: auto; /* Center the container on the page */
}

.location-img {
    width: 100%; /* Takes up the full width of the .location-content */
    height: auto;
    max-height: 400px; /* Adjust if needed */
    object-fit: contain;
}

.location-text {
    width: 100%; /* Takes up the full width of the .location-content, matching the image's width */
    text-align: left; /* Text starts at the left edge */
}

.vertical-bars {
    display: inline;
    margin: 0 5px; /* Adjust the margin as needed to control the spacing */
    border-left: 1px solid #000; /* Vertical bar styling */
    padding-left: 5px;
}

.acolor {
    color: #000;
}


.horizontal-line {
    position: absolute;
    border: none;
    border-top: 2px solid #000; /* Black color */
    width: 100px; /* Adjust the width of the line as needed */
}

.description {
    width: 684px;
    top: 0;
    left: 0;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 400;
    color: #1a1717;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    letter-spacing: 0.8px;
}

.text-wrapper {
    width: 684px;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 36px;
    font-family: "Helvetica-Bold", Helvetica;
    color: #1a1717;
    letter-spacing: 0;
    line-height: normal;

}

.space {
    margin: 7px;
}

.image-wrapper {
    max-width: 1200px;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 9/16 = 0.5625 or 56.25% */
    position: relative;
}


.overlay-spotlight-image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 15rem;
    max-height: 15rem;
    border-bottom-left-radius: 20px;
    opacity: .9;
}


.wide-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sm-icon {
    font-size: 1.3vw;
    color: rgba(0, 116, 217, 0.27); /* Blue color */
    margin: 0.5vw;
}

/*CSS for iframe component*/

iframe {
    border: 0;
    width: 100%;
    height: 300px;
}

.custom-iframe {
    height: 70vh !important;
}

.map-container {
    padding-top: 20px;
}


.map-googlemap {
    position: relative;
    height: 0;
    overflow: hidden;
}

.map-googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table {
    animation: fadeIn 1.5s;
}

th {
    background-color: #bacec1;
    color: #000;
    position: sticky;
    top: 0;
    text-align: center;
    font-weight: bold;
}

/* Set alternate background colors for odd and even rows */
tr {
    background-color: #f2f2f2; /* Light gray for odd rows */
}

/* Hover effect for rows */
tr:hover {
    background-color: #bacec1;
}

td {
    width: 25%;
}

/* Hover effect for columns */
td:hover::before {
    position: absolute;
    opacity: 0.8;
    background-color: #f3f3f3;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    transform: translateX(-50%);
    display: none;
}

td:hover::before {
    display: block;
}

h3.header-contactus {
    font: bold;
}

/* CSS for button pair on Read and Update Page */
.button-row {
    display: flex;
    margin: 3vw 0;
}

.larger-title {
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Cardo", serif;
}


/* CSS for the Explore page map */
.map-toggler {
    cursor: pointer;
    margin-top: 10px;
}

.map-toggler i {
    transition: transform 0.3s; /* Adds a smooth transition to the rotation */
}

.map-toggler:hover i {
    transform: rotate(180deg); /* Makes the icon spin when hovered */
}

h3.header-about {
    font: bold;
}

/*Share button CSS styling*/
.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}


/* Css for map button color-profile update command create page */
.map-button {
    margin: 10px;
    padding: 10px;
}

.image-row {
    display: flex;
    justify-content: space-between; /* this will add equal space between each image */
}

.share-button-margin {
    margin-left: 20px;
}

/* Hexagons */
#hexGrid {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: 0.866% 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

    #hexGrid:after {
        content: "";
        display: block;
        clear: both;
    }

.hex {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
    transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

    .hex * {
        position: absolute;
        visibility: visible;
        outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
    }

.hexIn {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    transform: skewY(-30deg) rotate(60deg);
}

/* Css for about page content*/

.team-info h3 {
    text-align: center;
}

/*** HEX CONTENT **********************************************************************/

.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.hex h1,
.hex p {
    margin: 0;
    width: 102%;
    left: -1%; /* prevent line on the right where background doesn't cover image */
    padding: 5%;
    box-sizing: border-box;
    background-color: rgb(186, 206, 193, 0.8);
    font-weight: 300;
    transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
    bottom: 50%;
    padding-top: 50%;
    font-size: 1.5em;
    z-index: 1;
    transform: translateY(-100%) translatez(-1px);
}

    .hex h1:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 45%;
        width: 10%;
        text-align: center;
        border-bottom: 1px solid #fff;
    }

.hex p {
    top: 50%;
    padding-bottom: 50%;
    transform: translateY(100%) translatez(-1px);
}


/*** HOVER EFFECT  **********************************************************************/

.hexIn:hover h1, .hexIn:focus h1, .hexIn:hover p, .hexIn:focus p {
    transform: translateY(0%) translatez(-1px);
}


/*** SPACING AND SIZING *****************************************************************/

@media (min-width:1201px) { /* <- 2-3  hexagons per row */
    .hex {
        width: 32.666%; /* = (100-2) / 3 */
        padding-bottom: 37.720%; /* =  width / sin(60) */
    }

        .hex:nth-child(5n+1),
        .hex:nth-child(5n+2) {
            transform: translateX(50%) rotate(-60deg) skewY(30deg);
        }

        .hex:nth-child(5n+3),
        .hex:nth-child(5n+4),
        .hex:nth-child(5n+5) {
            margin-top: -8.564%;
        }

        .hex:nth-child(5n+2),
        .hex:nth-child(5n+4) {
            margin-right: 1%;
            margin-left: 1%;
        }

        .hex:nth-child(5n+1) {
            margin-left: 0.5%;
        }

        .hex:nth-child(5n+3),
        .hex:nth-child(5n+6) {
            clear: left;
        }
}

@media (max-width: 1200px) { /* <- 1-2  hexagons per row */
    .hex {
        width: 49.5%; /* = (100-1) / 2 */
        padding-bottom: 57.158%; /* =  width / sin(60) */
    }

        .hex:nth-child(3n+1) {
            transform: translateX(50%) rotate(-60deg) skewY(30deg);
        }

        .hex:nth-child(3n+2),
        .hex:nth-child(3n+3) {
            margin-top: -13.423%;
            margin-bottom: -13.423%;
        }

        .hex:nth-child(3n+1) {
            margin-left: 0.5%
        }

        .hex:nth-child(3n+3) {
            margin-left: 1%;
        }

        .hex:nth-child(3n+2),
        .hex:nth-child(3n+4) {
            clear: left;
        }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

/* Css for filter */
.filter-option {
    margin-right: 1vw;
}

select.filter-dropdown {
    background-color: #bacec1;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
}

#filter-bar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    display: flex;
    padding: 1vw 0;
}

#filter-input {
    width: auto; 
}

.search-bar {
    width: auto;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding-left: 20px;
}

.search-bar-buttons {
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

#filter-button {
    display: flex;
    margin: 0 0.3vw;
}

p.header-about {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.5vw;
    margin-top: 1.1vw;
    top: 1vw;
}

/* Css for tabs in image card */
a.card-tab {
    border: 0.1px solid #000000e5 !important;
    background-color: #bacec1;
    color: #000000e5;
}

.tab-content {
    margin: 1vw 0;
}

/* Style for the dividers */
.divider {
    height: 40px;
    width: 1px;
    background-color: #29392e; 
    align-self: center; 
    margin: 0 12px; 
}

.button-line {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.button-line .gg-arrow-right-o {
    margin-left: 0.5em; /* This will add space between the text and the icon */
}

.btn .button-line:nth-of-type(2) {
    font-family: 'Cardo', serif; 
    font-size: 1.3rem;
}

/* Hide dividers on small screens */
@media (max-width: 768px) {
    .divider {
        display: none;
    }
}


.button-container {
    padding-top: 2vw; 
}

.button-line .gg-arrow-right-o {
    margin-left: 0.5em;
    transition: transform 0.5s ease-in-out;
}

.btn:hover .gg-arrow-right-o {
    transform: translateX(10px);
    box-shadow: 0 0 8px 2px #468a5e;
}

.filter-option .dropdown-toggle {
    margin-bottom: 0; /* Remove margin-bottom if present */
}

.filter-option .dropdown-menu {
    width: 100%; /* Make dropdown menu width same as button */
}

#map {
    position: absolute;
    top: 10vh; 
    width: 100%;
    height: calc(100vh - 10vh);
    z-index: -1;
}