.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    width: 330px; /* Adjust the width and height as needed */
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
    margin-top: 20px; /* Add some spacing to the top */
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

/* CSS for the button */
.btn-primary {
    background-color: #bacec1;
    color: #000000e6;
    border-color: #bacec1;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    color: #fff;
    background-color: #bacec1;
    border-color: #bacec1;
}

.btn-danger:hover {
    color: #fff;
    background-color: crimson;
    border-color: #bacec1;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #f3f3f3 70%, #bacec1 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #bacec1 60%, #f3f3f3 60%);
}

.homeimage {
    float: right;
    max-width: 75px;
    max-height: 75px;
}

/*CSS form body h1*/
h1.h1-heading {
    text-align: center;
    color: firebrick;
    font-weight: 700;
}

.homepageformat {
    text-align: center;
}

/* CSS for the homecard */
.homecard {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    justify-content: space-between; /* Add space between elements */
    align-items: center;
    height: 350px; /* Adjust the height as needed */
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.card-img-bench {
    background-image: url('/Bench.png');
}

.card-img-restroom {
    background-image: url('/Restrooms.png');
}

.card-img-others {
    background-image: url('/Others.jpg');
}

/* Hover effect for the homecard */
.homecard:hover {
    background-color: rgba(37,33,82,.12); /* Change the background color on hover */
    transform: scale(1.05); /* Add a slight zoom effect */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
}

/* CSS for the small text */
.text-muted {
    font-size: 12px;
    color: #888;
}

/* CSS for read page*/

.location-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* This ensures the content is centered horizontally */
    max-width: 600px; /* Optional: This sets a maximum width for the container */
    margin: auto; /* Center the container on the page */
}

.location-img {
    width: 100%; /* Takes up the full width of the .location-content */
    height: auto;
    max-height: 400px; /* Adjust if needed */
    object-fit: contain;
}

.location-text {
    width: 100%; /* Takes up the full width of the .location-content, matching the image's width */
    text-align: left; /* Text starts at the left edge */
}

.vertical-bars {
    display: inline;
    margin: 0 5px; /* Adjust the margin as needed to control the spacing */
    border-left: 1px solid #000; /* Vertical bar styling */
    padding-left: 5px;
}

.acolor {
    color: #000;
}


.horizontal-line {
    position: absolute;
    border: none;
    border-top: 2px solid #000; /* Black color */
    width: 100px; /* Adjust the width of the line as needed */
}

.description {
    width: 684px;
    top: 0;
    left: 0;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 400;
    color: #1a1717;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    letter-spacing: 0.8px;
}

.text-wrapper {
    width: 684px;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 36px;
    font-family: "Helvetica-Bold", Helvetica;
    color: #1a1717;
    letter-spacing: 0;
    line-height: normal;
}

.space {
    margin: 7px;
}

.image-wrapper {
    max-width: 1200px;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 9/16 = 0.5625 or 56.25% */
    position: relative;
}

.read-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.read-icon {
    font-size: 24px;
    color: #0074d9; /* Blue color */
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table {
    animation: fadeIn 1.5s;
}

th {
    background-color: #bacec1;
    color: #000;
    position: sticky;
    top: 0;
    text-align: center;
    font-weight: bold;
}

/* Set alternate background colors for odd and even rows */
tr {
    background-color: #f2f2f2; /* Light gray for odd rows */
}

/* Hover effect for rows */
tr:hover {
    background-color: #bacec1;
}

td {
    width: 70%;
}

/* Hover effect for columns */
td:hover::before {
    position: absolute;
    background-color: #f3f3f3;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    transform: translateX(-50%);
    display: none;
}

td:hover::before {
    display: block;
}

h3.header-contactus {
    font: bold;
}